.header-wrapper {
  z-index: 2;
  position: fixed;
  padding: 10px 0px;
  background-color: white;
  top: 0px;
  width: 100%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write-container {
  position: fixed;
  margin: 0 auto;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  animation: float 3s linear infinite forwards;
}

.chat__write:focus ~ .chat__icon {
  display: none;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write i {
  font-size: 22px;
}

.chats-body {
  background-image: url("../images/chatBg.png.png");
  min-height: 100vh;
  padding: 10px 0px;
  padding-top: 100px;
  min-height: 1000vh;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
  padding: 0px 20px;
  padding-top: 30px;
}

.chat__write i {
  font-size: 22px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  text-transform: uppercase;
  font-weight: 700;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 80%;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.incoming-message img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 15px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  animation: spin 1s linear infinite;
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 25px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #dae2f8, #d6a4a4);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #2bc0e4, #eaecc6);
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in,
    transform 0.5s ease-in-out;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}
